body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:44px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:44px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:997px;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(89, 89, 89, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:96px;
  width:349px;
  height:622px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:27px;
  background:inherit;
  background-color:rgba(89, 89, 89, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:96px;
  width:349px;
  height:27px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:345px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:222px;
  width:113px;
  height:14px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:351px;
  height:5px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:206px;
  width:348px;
  height:2px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:352px;
  width:348px;
  height:1px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:371px;
  width:326px;
  height:78px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:59px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:123px;
  width:348px;
  height:59px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:326px;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:218px;
  width:59px;
  height:28px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:31px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:177px;
  width:348px;
  height:31px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:486px;
  width:326px;
  height:78px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:594px;
  width:326px;
  height:104px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:246px;
  width:56px;
  height:14px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:278px;
  width:326px;
  height:26px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:680px;
  width:307px;
  height:28px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_ann {
  border-width:0px;
  position:absolute;
  left:328px;
  top:676px;
  width:1px;
  height:1px;
}
