body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(89, 89, 89, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:96px;
  width:349px;
  height:622px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:27px;
  background:inherit;
  background-color:rgba(89, 89, 89, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:96px;
  width:349px;
  height:27px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:345px;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:351px;
  height:5px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:180px;
  width:348px;
  height:2px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:347px;
  width:348px;
  height:1px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:391px;
  width:326px;
  height:52px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:59px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:123px;
  width:348px;
  height:59px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:326px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:351px;
  height:5px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:524px;
  width:348px;
  height:2px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:59px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:467px;
  width:348px;
  height:59px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:326px;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:541px;
  width:169px;
  height:16px;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:674px;
  width:174px;
  height:43px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:170px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:674px;
  width:173px;
  height:43px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:169px;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:652px;
  width:55px;
  height:55px;
  font-size:11px;
  color:#FFFFFF;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:51px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:287px;
  width:1px;
  height:16px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:44px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:44px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:997px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:27px;
  background:inherit;
  background-color:rgba(89, 89, 89, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:96px;
  width:349px;
  height:27px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:345px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:186px;
  width:342px;
  height:162px;
  color:#666666;
  text-align:left;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_ann {
  border-width:0px;
  position:absolute;
  left:355px;
  top:182px;
  width:1px;
  height:1px;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:198px;
  width:91px;
  height:16px;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:230px;
  width:298px;
  height:28px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:290px;
  width:148px;
  height:43px;
  font-family:'나눔고딕';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:144px;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:180px;
  width:41px;
  height:20px;
  color:#FFFFFF;
  text-align:left;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u230_ann {
  border-width:0px;
  position:absolute;
  left:369px;
  top:176px;
  width:1px;
  height:1px;
}
