body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:952px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-11px;
  width:1280px;
  height:952px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:333px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:458px;
  width:735px;
  height:333px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:609px;
  width:115px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:637px;
  width:167px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:163px;
  white-space:nowrap;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:665px;
  width:169px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  white-space:nowrap;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:666px;
  width:169px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:88px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:801px;
  width:724px;
  height:88px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:562px;
  width:301px;
  height:131px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:551px;
  width:41px;
  height:20px;
  color:#FFFFFF;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u162_ann {
  border-width:0px;
  position:absolute;
  left:863px;
  top:547px;
  width:1px;
  height:1px;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:472px;
  width:135px;
  height:31px;
  font-family:'굴림 Bold', '굴림 Regular', '굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:469px;
  width:143px;
  height:40px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_ann {
  border-width:0px;
  position:absolute;
  left:694px;
  top:465px;
  width:1px;
  height:1px;
}
