body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:952px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-11px;
  width:1280px;
  height:952px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:333px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:458px;
  width:735px;
  height:333px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:609px;
  width:115px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  white-space:nowrap;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:637px;
  width:167px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:163px;
  white-space:nowrap;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:665px;
  width:169px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  white-space:nowrap;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:666px;
  width:169px;
  height:18px;
  font-family:'굴림';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:165px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:88px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:801px;
  width:724px;
  height:88px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:131px;
  background:inherit;
  background-color:rgba(153, 51, 153, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 0, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:562px;
  width:301px;
  height:131px;
  color:#FFFFFF;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 0, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:551px;
  width:41px;
  height:20px;
  color:#FFFFFF;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u167_ann {
  border-width:0px;
  position:absolute;
  left:863px;
  top:547px;
  width:1px;
  height:1px;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:472px;
  width:135px;
  height:31px;
  font-family:'굴림 Bold', '굴림 Regular', '굴림';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:469px;
  width:290px;
  height:40px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_ann {
  border-width:0px;
  position:absolute;
  left:697px;
  top:465px;
  width:1px;
  height:1px;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕 Bold', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#800080;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:703px;
  width:105px;
  height:16px;
  font-family:'나눔고딕 Bold', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#800080;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
