body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1315px;
  height:1270px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:1315px;
  height:1270px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:389px;
  width:300px;
  height:65px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:352px;
  width:131px;
  height:25px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:65px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:577px;
  width:196px;
  height:65px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:683px;
  top:392px;
}
#u130_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:57px;
  background-image:none;
}
#u130_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
}
#u132_img.mouseOver {
}
#u132.mouseOver {
}
#u132_img.mouseDown {
}
#u132.mouseDown {
}
#u132_img.disabled {
}
#u132.disabled {
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:4px;
  width:79px;
  white-space:nowrap;
}
#u130_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  visibility:hidden;
  background-image:none;
}
#u130_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
}
#u134_img.mouseOver {
}
#u134.mouseOver {
}
#u134_img.mouseDown {
}
#u134.mouseDown {
}
#u134_img.disabled {
}
#u134.disabled {
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:4px;
  width:79px;
  white-space:nowrap;
}
#u130_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:57px;
  visibility:hidden;
  background-image:none;
}
#u130_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#363636;
}
#u136_img.mouseOver {
}
#u136.mouseOver {
}
#u136_img.mouseDown {
}
#u136.mouseDown {
}
#u136_img.disabled {
}
#u136.disabled {
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:4px;
  width:79px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:637px;
  top:580px;
}
#u137_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background-image:none;
}
#u137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u137_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  visibility:hidden;
  background-image:none;
}
#u137_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u137_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  visibility:hidden;
  background-image:none;
}
#u137_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:27px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:525px;
  width:259px;
  height:27px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:733px;
  height:431px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:748px;
  width:733px;
  height:431px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:1179px;
  width:649px;
  height:76px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:65px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:675px;
  width:196px;
  height:65px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:637px;
  top:678px;
}
#u145_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background-image:none;
}
#u145_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u145_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  visibility:hidden;
  background-image:none;
}
#u145_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u145_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  visibility:hidden;
  background-image:none;
}
#u145_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:235px;
  background:inherit;
  background-color:rgba(153, 51, 153, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 0, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:520px;
  width:224px;
  height:235px;
  color:#FFFFFF;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:114px;
  background:inherit;
  background-color:rgba(153, 51, 153, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 0, 128, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:345px;
  width:236px;
  height:114px;
  color:#FFFFFF;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:334px;
  width:41px;
  height:20px;
  color:#FFFFFF;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u151_ann {
  border-width:0px;
  position:absolute;
  left:909px;
  top:330px;
  width:1px;
  height:1px;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(153, 51, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:511px;
  width:41px;
  height:20px;
  color:#FFFFFF;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u152_ann {
  border-width:0px;
  position:absolute;
  left:840px;
  top:507px;
  width:1px;
  height:1px;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:594px;
  width:61px;
  height:32px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움 Bold', '돋움';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:597px;
  width:122px;
  height:18px;
  font-family:'돋움 Bold', '돋움';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:72px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:570px;
  width:214px;
  height:72px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:72px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:668px;
  width:214px;
  height:72px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:677px;
  width:182px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:577px;
  width:182px;
  height:54px;
  font-family:'돋움';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:18px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:520px;
  width:218px;
  height:235px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:512px;
  width:41px;
  height:20px;
  color:#FFFFFF;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u160_ann {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:508px;
  width:1px;
  height:1px;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#800080;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:319px;
  width:105px;
  height:16px;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#800080;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#800080;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:494px;
  width:105px;
  height:16px;
  font-family:'나눔고딕 Bold', '나눔고딕 Regular', '나눔고딕';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#800080;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
